{# commerce_user_points/templates/user-referral-link-block.html.twig #}

{% if referral_link == true %}
	<div class = "referral-link-section">
		Your referral link is here, just copy and share for gain more points: 
		<div id = "user-referral-link">
			{{ referral_link }}
		</div>
		<button type="button" class = "btn" id = "copy-referral-link"> Copy Link </button> 
	</div>
{% endif %}